.code-block {
    position: relative;
    left: 20px;
    top: 50px;
}
.submit {
    position: relative;
    left: 30px;
    top: 50px;
}

.select-language {
    position: relative;
    left: 20px;
    top: 40px;
}
