.code-block {
    position: relative;
    left: 20px;
    top: 50px;
}
.submit {
    position: relative;
    left: 30px;
    top: 50px;
}

.select-language {
    position: relative;
    left: 20px;
    top: 40px;
}

.test-input-box {
    position: relative;
    left: 20px;
    top: 40px;
}
.su {
    margin-top: 2%;
}
.su {
    margin-top: 2%;
}
