video {
    width: 30%;
    border-radius: 15px;
}
.myinput {
    padding-top: 3%;
}
.myin {
    position: relative;
    width: 100%;
    height: 20%;
}
.videoContainer {
    position: relative;
    width: 100%;
    height: 80%;
}
.video-customer1,
.video-customer2 {
    width: 80%;
}
