video {
    width: 30%;
    border-radius: 15px;
}
.myinput {
    padding-top: 2%;
}
.myin {
    position: relative;
    width: 100%;
    height: 20%;
}
.videoContainer {
    position: relative;
    width: 100%;
    height: 80%;
}
video:first-child {
    position: absolute;
    width: 20%;
    height: 20%;
    right: 0;
    top: 20%;
    z-index: 100;
}
video:not(:first-child) {
    position: absolute;
    width: 20%;
    height: 20%;
    right: 20%;
    top: 20%;
    z-index: 100;
}
