.ide1 {
    position: relative;
    height: 100%;
    width: 100%;
}
.result {
    position: relative;
    height: 20%;
    width: 100%;
    overflow: scroll;
}

.f2f {
    position: relative;
    height: 35%;
    width: 100%;
    overflow: scroll;
}
.board {
    position: relative;
    height: 50%;
    width: 100%;
    overflow: scroll;
}
.command {
    position: relative;
    height: 10%;
    width: 100%;
    overflow: scroll;
}

.met {
    position: absolute;
    height: 100%;
    width: 100%;
}
.metr {
    position: relative;
    height: 100%;
}
