.bord {
}

.bordlist,
.cr {
    margin-top: 5%;
    padding: 5%;
    max-width: 570px;
    box-shadow: 2px 2px 5px rgba(28, 27, 27, 0.72);

    border-radius: 10px;
}
.cr {
    background: white;
    padding: 2%;
    position: absolute;
    top: 0;
    transform: translate(60%, 25%);

    z-index: 1000;
    /*display: none;*/
}
.head {
    margin-bottom: 5% !important;
    font-family: 'Sem';
}
.listRow {
    max-height: 480px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.option {
    padding: 10%;
    max-width: 570px;
    box-shadow: 2px 2px 5px rgba(28, 27, 27, 0.72);
    margin: 60% 5%;
    margin-top: 60%;
    border-radius: 10px;
}

.add {
    width: 64px;
    height: 64px;
    border: none;
    background-image: url('add.png');
}

.create {
    width: 64px;
    height: 64px;
    border: none;
    background-image: url('create.png');
}
.mb-2 {
    font-family: 'Times New Roman';
}
